{% extends 'frontend/base.html' %}
{% block content %}
    <div class="container">
        <table id="properties_list_table" class="display table table-striped table-bordered properties_list" border="1" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th scope="col" style=" visibility: hidden; ">ID</th>
                    <th scope="col">Property Name</th>
                    <th scope="col">Property Value</th>
                </tr>
            </thead>
            <tbody id="list_table">
            </tbody>
        </table>
    </div>
{% endblock content %}